<div class="card mb-3" style="max-width: 440px; float: left;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="static/tshirt1.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Футболка pink</h5>
          <p class="card-text">Стильна рожева футболка Aelfric Eden з чорними рукавами та оригінальним написом, додасть вашому образу неповторності.</p>
          <p class="card-text"><small class="text-body-secondary">550 грн!</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 440px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="static/tshirt2.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Футболка black</h5>
          <p class="card-text">Ця чорна футболка з широкими рукавами кімоно та мінімалістичним написом - must-have для сучасного гардеробу.</p>
          <p class="card-text"><small class="text-body-secondary">500 грн!</small></p>
        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3" style="max-width: 440px; float: left;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="static/vodolaska.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Лонгслів black</h5>
          <p class="card-text">Цей чорний жіночий светр з довгими рукавами та логотипом на грудях додасть вашому образу сучасного та вишуканого вигляду.</p>
          <p class="card-text"><small class="text-body-secondary">550 грн!</small></p>
        </div>
      </div>
    </div>
  </div>



  <div class="card mb-3" style="max-width: 440px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="static/topp.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Топ black</h5>
          <p class="card-text">Зручний та стильний чорний топ з написом "Rock More" ідеально підійде для активного способу життя.</p>
          <p class="card-text"><small class="text-body-secondary">500 грн!</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 440px; float: left;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="static/pants.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Штани "black"</h5>
          <p class="card-text">Ці широкі джинси з ефектом потертості легко поєднуються з різноманітними стилями та взуттям.</p>
          <p class="card-text"><small class="text-body-secondary">1000 грн!</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 440px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="static/shorts.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Шорти "black"</h5>
          <p class="card-text">Зручні та стильні джинсові шорти з широкими штанинами забезпечать вам комфорт та усього дня.</p>
          <p class="card-text"><small class="text-body-secondary">850 грн!</small></p>
        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3" style="max-width: 440px; float: left;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="static/dress.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Плаття black</h5>
          <p class="card-text">Ця чорна міні-сукня з оригінальним дизайном легко поєднується з різноманітними аксесуарами та взуттям.</p>
          <p class="card-text"><small class="text-body-secondary">650 грн!</small></p>
        </div>
      </div>
    </div>
  </div>



  <div class="card mb-3" style="max-width: 440px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="static/kepka.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Кепка</h5>
          <p class="card-text">Зручна та практична джинсова кепка з вишитим бантом ідеально підійде для повсякденного використання.</p>
          <p class="card-text"><small class="text-body-secondary">350 грн!</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 440px; float: left;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="static/tyflu.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Туфлі black</h5>
          <p class="card-text">Ці блискучі чорні туфлі на платформі з ремінцем - ідеальний вибір для створення модного та ефектного образу.</p>
          <p class="card-text"><small class="text-body-secondary">1200 грн!</small></p>
        </div>
      </div>
    </div>
  </div>



  <div class="card mb-3" style="max-width: 440px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="static/tufla.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">.</h5>
          <p class="card-text">Ці білі туфлі на платформі легко поєднуються з різноманітними стилями одягу, від класичного до сучасного.</p>
          <p class="card-text"><small class="text-body-secondary">1200 грн!</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 440px; float: left;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="static/sym.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Сумка black</h5>
          <p class="card-text">Ця чорна сумка-хобо з однією ручкою - ідеальний вибір для створення елегантного та невимушеного образу.</p>
          <p class="card-text"><small class="text-body-secondary">1100 грн!</small></p>
        </div>
      </div>
    </div>
  </div>



  <div class="card mb-3" style="max-width: 440px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="static/syym.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">.</h5>
          <p class="card-text">Зручна сумка з двома ручками ідеально підійде для щоденного використання, дозволяючи зручно розмістити всі необхідні речі.</p>
          <p class="card-text"><small class="text-body-secondary">800 грн!</small></p>
        </div>
      </div>
    </div>
  </div>
