<div class="card" style="width: 18rem; float: left; margin-left: 50px;" >
    <img src="static/dosta.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Ми забезпечуємо швидку та надійну доставку, щоб ви могли отримати своє замовлення у найкоротші терміни.</p>
    </div>
  </div>


  <div class="card" style="width: 18rem;float: left;">
    <img src="static/kava.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Наш одяг виготовлений із якісних матеріалів, що забезпечують комфорт і довговічність.</p>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="static/shapka.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Ми пропонуємо стильний і якісний одяг за доступними цінами, щоб кожен міг знайти ідеальний варіант для себе.</p>
    </div>
  </div>